// bower:scss
@import "font-awesome/scss/font-awesome.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  height: 100%;
}
body {
  padding: 0;
  height: 100%;
  background-color: black;
}

.wv-container {
  height: 100%;
  overflow: hidden;
}
.wv-menu {
  display: block;
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  text-align: center;
  width: 200px;
}

.wv-main {
  display: block;
  float: left;
  height: 100%;
  width: calc(100% - 200px);
}