.wv-serielist {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wv-serielist-item {
  padding: 0;
  text-align: center;
  
  width: 150px;
  height: 150px;
  margin: auto;
}

.wv-serielist-overlay {
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  color: #CCC;
  background-color: rgba(0,0,0,0.75);
  text-align: center;
  padding: 0.5em;
}