.wv-studylist {
  background-color: black; 
  background-image: none; 
  text-shadow: none; 
  color: #EEE; 
  border: none; 
  border-bottom: 1px solid white; 
  border-radius: 0; 

  height: 4rem;
  line-height: 3rem;

  min-width: 100%;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
