.wv-toolbar {
	display: flex;

	height: 40px;
	margin: 0;
	padding: 0px;
}
.wv-toolbar-item {
	background-color: black; 
	background-image: none; 
	text-shadow: none; 
	color: #EEE; 
	border: none; 
	border-bottom: 1px solid white; 
	border-radius: 0; 
	height: 4rem;
	line-height: 3rem;
	margin-right: 1px;
	margin-left: 1px;
	min-width: 3.1em;
	
	&:active {
		background-color: black;
	}
	&.active {
		background-color: hsla(0, 100%, 100%, 0.9);
		box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
		border-bottom: 1px solid white; 
	}
	&:hover, &.active:hover {
		background-color: hsla(0, 100%, 100%, 0.95);
		border-bottom: 1px solid white; 
	}

	position: relative;

	&::after {
		position: absolute;
		content: '';
		bottom: 0px;
		left: 0px;
		right: 0px;
		height: 1px;
		background-color: black;
	}
}
.fa.wv-toolbar-item {
	line-height: 3rem;
}

.wv-toolbar-settings {
	padding-left: 1px;
}
.wv-toolbar-settings,
.wv-toolbar-states,
.wv-toolbar-tools,
.wv-toolbar-end {
	// display: inline-block;
	margin-left: 2px;
}

.wv-toolbar-end {
	flex-grow: 10;
	border-bottom: 1px solid white;
}