<div ng-if="$serie">
	<div class="wv-overlay-scrollbar-text">
	    {{$instance.InstanceNumber}}/{{$instanceCount}}<br/>
	</div>
	<div class="wv-overlay-scrollbar" ng-style="{
	    right: scrollbarDistanceFromRight
	}">
	</div>
</div>