<label class="btn btn-sm btn-default wv-toolbar-item" ng-if="wvItems.hasOwnProperty(wvName)">
	<span ng-class="wvIcon"></span>
	<input type="radio" value="{{wvName}}" style="display: none;" ng-model="$parent.$parent.activeTool" bs-radio>
</label>