<div class="cornerstone-enabled-image wv-cornerstone-enabled-image"
  oncontextmenu="return false"
  unselectable="on"
  onselectstart="return false;"
  onmousedown="return false;"
  style="position: relative;"
>
  <ng-transclude>
    <wv-overlay ng-if="wvEnableOverlay"></wv-overlay>
  </ng-transclude>
</div>