<ul class="{{wvClass.ul}}">
  	<li
  		ng-repeat="id in serieIds"
  		class="{{wvClass.li}}"
  		ng-transclude
  		wv-size-tag
	>
	    <wv-viewport wv-viewport-serie="id" wv-width="'tag'" wv-height="'tag'"
	    	wv-viewport-draggable wv-scroll-on-over="true"
    	>
		    <wv-overlay>
		    	<div class="{{$parent.wvClass.overlay}}">
	        		{{$instance.SeriesDescription}}
	        	</div>
		    </wv-overlay>
	    </wv-viewport>
  	</li>
</ul>